<footer class="footer mt-auto">
  <div class="container text-center">
    <p class="mb-1">&copy; 2025 My Playlist App</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/about">About</a></li>
      <li class="list-inline-item"><a href="/contact">Contact</a></li>
      <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
    </ul>
  </div>
</footer>
