<%= link_to "â† #{@chat.playlist.title}", playlist_path(@chat.playlist) %>

<h1 id="chat_title"><%= @chat.title %></h1>

<div id="messages">
  <%= render "messages/chat_messages", messages: @chat.messages %>
</div>

<div id="new_message_container">
  <%= render "messages/form", chat: @chat, message: @message %>
</div>
