.footer {
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  transition: background 0.3s ease;
  opacity: 20%;

  a {
    color: #FFFFFF;
    &:hover {
      text-shadow: 0 0 5px rgba(255,255,255,0.7);
      text-decoration: underline;
    }
  }

  .list-inline-item {
    margin: 0 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
