<h1>Show Playlists</h1>
<p>Find me in app/views/playlists/show.html.erb</p>

<%= @playlist.title %>
<%= @playlist.content %>

<%= link_to "Back to playlists", class = "button", playlist_path(playlist) %>
